---
import {Image} from 'astro:assets';

import angularIcon from '@assets/brands/angular.svg';
import reactIcon from '@assets/brands/react.svg';
import sassIcon from '@assets/brands/sass.svg';
import nextJsIcon from '@assets/brands/next-js.svg';
import antDesignIcon from '@assets/brands/ant-design.svg';
import muiIcon from '@assets/brands/mui.svg';
import swaggerIcon from '@assets/brands/swagger.svg';
import javascriptIcon from '@assets/brands/javascript.svg';
import typescriptIcon from '@assets/brands/typescript.svg';
import highchartsIcon from '@assets/brands/highcharts.svg';
import docusaurusIcon from '@assets/brands/docusaurus.svg';
import jwtIcon from '@assets/brands/jwt.svg';
import gsapIcon from '@assets/brands/gsap.svg';
import gitIcon from '@assets/brands/git.svg';
import githubIcon from '@assets/brands/github.svg';
import nodeJsIcon from '@assets/brands/node-js.svg';
import cSharpIcon from '@assets/brands/c-sharp.svg';
import pythonIcon from '@assets/brands/python.svg';
import postgresqlIcon from '@assets/brands/postgresql.svg';
import mongodbIcon from '@assets/brands/mongodb.svg';
import mysqlIcon from '@assets/brands/mysql.svg';
import postmanIcon from '@assets/brands/postman.svg';
import jestIcon from '@assets/brands/jest.svg';
import cypressIcon from '@assets/brands/cypress.svg';
import storybookIcon from '@assets/brands/storybook.svg';
import jqueryIcon from '@assets/brands/jquery.svg';
import azureIcon from '@assets/brands/azure.svg';
import jiraIcon from '@assets/brands/jira.svg';
import confluenceIcon from '@assets/brands/confluence.svg';
import trelloIcon from '@assets/brands/trello.svg';
import aspDotnetCoreIcon from '@assets/brands/asp-dotnet-core.svg';
import nginxIcon from '@assets/brands/nginx.svg';
import xunitIcon from '@assets/brands/xunit.svg';
import entityFrameworkCoreIcon from '@assets/brands/entity-framework-core.svg';
import prismaIcon from '@assets/brands/prisma.svg';
import gulpIcon from '@assets/brands/gulp.svg';
import mapboxIcon from '@assets/brands/mapbox.svg';
import elasticsearchIcon from '@assets/brands/elasticsearch.svg';
import kibanaIcon from '@assets/brands/kibana.svg';
import puppeteerIcon from '@assets/brands/puppeteer.svg';
import rxjsIcon from '@assets/brands/rxjs.svg';
import reduxIcon from '@assets/brands/redux.svg';
---

<section id="hard-skills">
    <h2>مهارت‌های فنی</h2>
    <div class="group perfect">
        <h3>تسلط کامل</h3>
        <ul class="skills">
            <li class="wider taller">
                <Image src={angularIcon} alt="" />
                <div class="title">Angular</div>
            </li>
            <li>
                <Image src={reactIcon} alt="" />
                <div class="title">React</div>
            </li>
            <li>
                <Image src={sassIcon} alt="" />
                <div class="title">Sass</div>
            </li>
            <li class="wider taller">
                <Image src={nextJsIcon} alt="" />
                <div class="title">Next.js</div>
            </li>
            <li>
                <Image src={antDesignIcon} alt="" />
                <div class="title">Ant Design</div>
            </li>
            <li>
                <Image src={muiIcon} alt="" />
                <div class="title">Material UI</div>
            </li>
            <li>
                <Image src={swaggerIcon} alt="" />
                <div class="title">Swagger</div>
            </li>
            <li>
                <Image src={javascriptIcon} alt="" />
                <div class="title">JavaScript</div>
            </li>
            <li class="wider taller">
                <Image src={typescriptIcon} alt="" />
                <div class="title">TypeScript</div>
            </li>
            <li>
                <Image src={highchartsIcon} alt="" />
                <div class="title">Highcharts</div>
            </li>
            <li>
                <Image src={docusaurusIcon} alt="" />
                <div class="title">Docusaurus</div>
            </li>
            <li>
                <Image src={jwtIcon} alt="" />
                <div class="title">JWT</div>
            </li>
            <li>
                <Image src={gsapIcon} alt="" />
                <div class="title">GSAP</div>
            </li>
            <li>
                <Image src={gitIcon} alt="" />
                <div class="title">Git</div>
            </li>
            <li>
                <Image src={githubIcon} alt="" />
                <div class="title">GitHub</div>
            </li>
        </ul>
    </div>
    <div class="group good">
        <h3>تسلط کافی</h3>
        <ul class="skills">
            <li class="wider taller">
                <Image src={nodeJsIcon} alt="" />
                <div class="title">Node.js</div>
            </li>
            <li>
                <Image src={cSharpIcon} alt="" />
                <div class="title">C#</div>
            </li>
            <li>
                <Image src={pythonIcon} alt="" />
                <div class="title">Python</div>
            </li>
            <li class="wider taller">
                <Image src={postgresqlIcon} alt="" />
                <div class="title">PostgreSQL</div>
            </li>
            <li>
                <Image src={mongodbIcon} alt="" />
                <div class="title">MongoDB</div>
            </li>
            <li>
                <Image src={mysqlIcon} alt="" />
                <div class="title">MySQL</div>
            </li>
            <li>
                <Image src={postmanIcon} alt="" />
                <div class="title">Postman</div>
            </li>
            <li>
                <Image src={jestIcon} alt="" />
                <div class="title">Jest</div>
            </li>
            <li class="wider taller">
                <Image src={cypressIcon} alt="" />
                <div class="title">Cypress</div>
            </li>
            <li>
                <Image src={storybookIcon} alt="" />
                <div class="title">Storybook</div>
            </li>
            <li>
                <Image src={jqueryIcon} alt="" />
                <div class="title">jQuery</div>
            </li>
            <li>
                <Image src={azureIcon} alt="" />
                <div class="title">Azure</div>
            </li>
            <li>
                <Image src={jiraIcon} alt="" />
                <div class="title">Jira</div>
            </li>
            <li>
                <Image src={confluenceIcon} alt="" />
                <div class="title">Confluence</div>
            </li>
            <li>
                <Image src={trelloIcon} alt="" />
                <div class="title">Trello</div>
            </li>
        </ul>
    </div>
    <div class="group normal">
        <h3>سابقه استفاده</h3>
        <ul class="skills">
            <li class="wider taller">
                <Image src={aspDotnetCoreIcon} alt="" />
                <div class="title">ASP.NET Core</div>
            </li>
            <li>
                <Image src={nginxIcon} alt="" />
                <div class="title">NGINX</div>
            </li>
            <li>
                <Image src={xunitIcon} alt="" />
                <div class="title">xUnit.net</div>
            </li>
            <li class="wider taller">
                <Image src={entityFrameworkCoreIcon} alt="" />
                <div class="title">Entity Framework Core</div>
            </li>
            <li>
                <Image src={prismaIcon} alt="" />
                <div class="title">Prisma</div>
            </li>
            <li>
                <Image src={gulpIcon} alt="" />
                <div class="title">Gulp.js</div>
            </li>
            <li>
                <Image src={mapboxIcon} alt="" />
                <div class="title">Mapbox</div>
            </li>
            <li class="wider taller">
                <Image src={elasticsearchIcon} alt="" />
                <div class="title">Elasticsearch</div>
            </li>
            <li class="wider taller">
                <Image src={kibanaIcon} alt="" />
                <div class="title">Kibana</div>
            </li>
            <li>
                <Image src={puppeteerIcon} alt="" />
                <div class="title">Puppeteer</div>
            </li>
            <li>
                <Image src={rxjsIcon} alt="" />
                <div class="title">RxJS</div>
            </li>
            <li>
                <Image src={reduxIcon} alt="" />
                <div class="title">Redux</div>
            </li>
        </ul>
    </div>
</section>
