---
import angularIcon from '@assets/brands/angular.svg?raw';
import reactIcon from '@assets/brands/react.svg?raw';
import sassIcon from '@assets/brands/sass.svg?raw';
import nextJsIcon from '@assets/brands/next-js.svg?raw';
import antDesignIcon from '@assets/brands/ant-design.svg?raw';
import muiIcon from '@assets/brands/mui.svg?raw';
import swaggerIcon from '@assets/brands/swagger.svg?raw';
import javascriptIcon from '@assets/brands/javascript.svg?raw';
import typescriptIcon from '@assets/brands/typescript.svg?raw';
import highchartsIcon from '@assets/brands/highcharts.svg?raw';
import docusaurusIcon from '@assets/brands/docusaurus.svg?raw';
import jwtIcon from '@assets/brands/jwt.svg?raw';
import gsapIcon from '@assets/brands/gsap.svg?raw';
import gitIcon from '@assets/brands/git.svg?raw';
import githubIcon from '@assets/brands/github.svg?raw';
import nodeJsIcon from '@assets/brands/node-js.svg?raw';
import cSharpIcon from '@assets/brands/c-sharp.svg?raw';
import pythonIcon from '@assets/brands/python.svg?raw';
import postgresqlIcon from '@assets/brands/postgresql.svg?raw';
import mongodbIcon from '@assets/brands/mongodb.svg?raw';
import mysqlIcon from '@assets/brands/mysql.svg?raw';
import postmanIcon from '@assets/brands/postman.svg?raw';
import jestIcon from '@assets/brands/jest.svg?raw';
import cypressIcon from '@assets/brands/cypress.svg?raw';
import storybookIcon from '@assets/brands/storybook.svg?raw';
import jqueryIcon from '@assets/brands/jquery.svg?raw';
import azureIcon from '@assets/brands/azure.svg?raw';
import jiraIcon from '@assets/brands/jira.svg?raw';
import confluenceIcon from '@assets/brands/confluence.svg?raw';
import trelloIcon from '@assets/brands/trello.svg?raw';
import aspDotnetCoreIcon from '@assets/brands/asp-dotnet-core.svg?raw';
import nginxIcon from '@assets/brands/nginx.svg?raw';
import xunitIcon from '@assets/brands/xunit.svg?raw';
import entityFrameworkCoreIcon from '@assets/brands/entity-framework-core.svg?raw';
import prismaIcon from '@assets/brands/prisma.svg?raw';
import gulpIcon from '@assets/brands/gulp.svg?raw';
import mapboxIcon from '@assets/brands/mapbox.svg?raw';
import elasticsearchIcon from '@assets/brands/elasticsearch.svg?raw';
import kibanaIcon from '@assets/brands/kibana.svg?raw';
import puppeteerIcon from '@assets/brands/puppeteer.svg?raw';
import rxjsIcon from '@assets/brands/rxjs.svg?raw';
import reduxIcon from '@assets/brands/redux.svg?raw';
---

<section id="hard-skills">
    <h2>مهارت‌های فنی</h2>
    <div class="group perfect">
        <h3>تسلط کامل</h3>
        <ul class="skills">
            <li class="wider taller">
                <Fragment set:html={angularIcon} />
                <div class="title">Angular</div>
            </li>
            <li>
                <Fragment set:html={reactIcon} />
                <div class="title">React</div>
            </li>
            <li>
                <Fragment set:html={sassIcon} />
                <div class="title">Sass</div>
            </li>
            <li class="wider taller">
                <Fragment set:html={nextJsIcon} />
                <div class="title">Next.js</div>
            </li>
            <li>
                <Fragment set:html={antDesignIcon} />
                <div class="title">Ant Design</div>
            </li>
            <li>
                <Fragment set:html={muiIcon} />
                <div class="title">Material UI</div>
            </li>
            <li>
                <Fragment set:html={swaggerIcon} />
                <div class="title">Swagger</div>
            </li>
            <li>
                <Fragment set:html={javascriptIcon} />
                <div class="title">JavaScript</div>
            </li>
            <li class="wider taller">
                <Fragment set:html={typescriptIcon} />
                <div class="title">TypeScript</div>
            </li>
            <li>
                <Fragment set:html={highchartsIcon} />
                <div class="title">Highcharts</div>
            </li>
            <li>
                <Fragment set:html={docusaurusIcon} />
                <div class="title">Docusaurus</div>
            </li>
            <li>
                <Fragment set:html={jwtIcon} />
                <div class="title">JWT</div>
            </li>
            <li>
                <Fragment set:html={gsapIcon} />
                <div class="title">GSAP</div>
            </li>
            <li>
                <Fragment set:html={gitIcon} />
                <div class="title">Git</div>
            </li>
            <li>
                <Fragment set:html={githubIcon} />
                <div class="title">GitHub</div>
            </li>
        </ul>
    </div>
    <div class="group good">
        <h3>تسلط کافی</h3>
        <ul class="skills">
            <li class="wider taller">
                <Fragment set:html={nodeJsIcon} />
                <div class="title">Node.js</div>
            </li>
            <li>
                <Fragment set:html={cSharpIcon} />
                <div class="title">C#</div>
            </li>
            <li>
                <Fragment set:html={pythonIcon} />
                <div class="title">Python</div>
            </li>
            <li class="wider taller">
                <Fragment set:html={postgresqlIcon} />
                <div class="title">PostgreSQL</div>
            </li>
            <li>
                <Fragment set:html={mongodbIcon} />
                <div class="title">MongoDB</div>
            </li>
            <li>
                <Fragment set:html={mysqlIcon} />
                <div class="title">MySQL</div>
            </li>
            <li>
                <Fragment set:html={postmanIcon} />
                <div class="title">Postman</div>
            </li>
            <li>
                <Fragment set:html={jestIcon} />
                <div class="title">Jest</div>
            </li>
            <li class="wider taller">
                <Fragment set:html={cypressIcon} />
                <div class="title">Cypress</div>
            </li>
            <li>
                <Fragment set:html={storybookIcon} />
                <div class="title">Storybook</div>
            </li>
            <li>
                <Fragment set:html={jqueryIcon} />
                <div class="title">jQuery</div>
            </li>
            <li>
                <Fragment set:html={azureIcon} />
                <div class="title">Azure</div>
            </li>
            <li>
                <Fragment set:html={jiraIcon} />
                <div class="title">Jira</div>
            </li>
            <li>
                <Fragment set:html={confluenceIcon} />
                <div class="title">Confluence</div>
            </li>
            <li>
                <Fragment set:html={trelloIcon} />
                <div class="title">Trello</div>
            </li>
        </ul>
    </div>
    <div class="group normal">
        <h3>سابقه استفاده</h3>
        <ul class="skills">
            <li class="wider taller">
                <Fragment set:html={aspDotnetCoreIcon} />
                <div class="title">ASP.NET Core</div>
            </li>
            <li>
                <Fragment set:html={nginxIcon} />
                <div class="title">NGINX</div>
            </li>
            <li>
                <Fragment set:html={xunitIcon} />
                <div class="title">xUnit.net</div>
            </li>
            <li class="wider taller">
                <Fragment set:html={entityFrameworkCoreIcon} />
                <div class="title">Entity Framework Core</div>
            </li>
            <li>
                <Fragment set:html={prismaIcon} />
                <div class="title">Prisma</div>
            </li>
            <li>
                <Fragment set:html={gulpIcon} />
                <div class="title">Gulp.js</div>
            </li>
            <li>
                <Fragment set:html={mapboxIcon} />
                <div class="title">Mapbox</div>
            </li>
            <li class="wider taller">
                <Fragment set:html={elasticsearchIcon} />
                <div class="title">Elasticsearch</div>
            </li>
            <li class="wider taller">
                <Fragment set:html={kibanaIcon} />
                <div class="title">Kibana</div>
            </li>
            <li>
                <Fragment set:html={puppeteerIcon} />
                <div class="title">Puppeteer</div>
            </li>
            <li>
                <Fragment set:html={rxjsIcon} />
                <div class="title">RxJS</div>
            </li>
            <li>
                <Fragment set:html={reduxIcon} />
                <div class="title">Redux</div>
            </li>
        </ul>
    </div>
</section>
