---
import {Image} from 'astro:assets';

import mohaymenLogo from '@assets/logos/mohaymen.webp';
import codestarLogo from '@assets/logos/codestar.svg';

import angularIcon from '@assets/brands/angular.svg';
import sassIcon from '@assets/brands/sass.svg';
import antDesignIcon from '@assets/brands/ant-design.svg';
import swaggerIcon from '@assets/brands/swagger.svg';
import typescriptIcon from '@assets/brands/typescript.svg';
import highchartsIcon from '@assets/brands/highcharts.svg';
import docusaurusIcon from '@assets/brands/docusaurus.svg';
import jwtIcon from '@assets/brands/jwt.svg';
import nodeJsIcon from '@assets/brands/node-js.svg';
import cSharpIcon from '@assets/brands/c-sharp.svg';
import postgresqlIcon from '@assets/brands/postgresql.svg';
import mysqlIcon from '@assets/brands/mysql.svg';
import cypressIcon from '@assets/brands/cypress.svg';
import azureIcon from '@assets/brands/azure.svg';
import jiraIcon from '@assets/brands/jira.svg';
import confluenceIcon from '@assets/brands/confluence.svg';
import gulpIcon from '@assets/brands/gulp.svg';
import mapboxIcon from '@assets/brands/mapbox.svg';
import puppeteerIcon from '@assets/brands/puppeteer.svg';
---

<section id="jobs">
    <h2>سوابق شغلی</h2>
    <ul>
        <li>
            <div class="info">
                <div class="logo">
                    <Image src={mohaymenLogo} alt="" />
                </div>
                <div class="header">
                    <div class="duration">مهر 1401 تا فروردین 1402</div>
                    <div class="title">مدیر تیم</div>
                    <div class="corporate">شرکت فناوری اطلاعات و ارتباطات مهیمن</div>
                </div>
                <div class="description">
                    <p>
                        بعد از 2 سال فعالیت در شرکت مهیمن، ترفیع گرفتم و
                        <strong>Team Lead</strong>
                        یک تیم توسعه نرم‌افزار شدم.
                        <strong>مسئولیت 3 سامانه اصلی و 1 سامانه زیرساختی</strong>
                        بر عهدۀ من و تیمم بود. وظیفۀ ما توسعه و پشتیبانی کامل سامانه‌ها
                        <strong>(فرانت‌اند و بک‌اند)</strong>
                        و همچنین ارتباط مؤثر با تیم‌های مدیریت محصول، طراحی محصول، تست نرم‌افزار و DevOps بود.
                    </p>
                    <p>علاوه بر مسئولیت‌های راهبری فنی تیم، مسئولیت‌های مدیریتی نیز بر عهدۀ من بود:</p>
                    <ul>
                        <li>
                            <strong>مشارکت در جلسات با کارفرمایان و مدیران ارشد</strong>
                            در جهت بررسی نیازمندی‌ها و چگونگی پیشبرد پروژه‌ها
                        </li>
                        <li>
                            مشارکت در تصمیم‌گیری‌ها و
                            <strong>مسائل کلان واحد</strong>
                        </li>
                        <li>
                            مصاحبه‌های فنی و غیرفنی و
                            <strong>عزل و نصب</strong>
                            افراد تیم
                        </li>
                        <li>
                            <strong>تخصیص پاداش فصلی</strong>
                            براساس عملکرد افراد تیم
                        </li>
                        <li>
                            <strong>جلسات یک‌به‌یک</strong>
                            با اعضای تیم و
                            <strong>برنامه‌ریزی کوتاه‌مدت و بلندمدت</strong>
                            برای رفع چالش‌ها
                        </li>
                        <li>
                            برنامه‌ریزی برای
                            <strong>رشد اعضای تیم</strong>
                            در جهت ارتقاء مهارت‌های فنی و مهارت‌های نرم
                        </li>
                        <li>
                            <strong>تفویض اختیارات (Delegation)</strong>
                            به‌صورت کنترل‌شده در جهت
                            <strong>آماده‌سازی اعضای تیم برای سطوح مدیریتی</strong>
                        </li>
                        <li>
                            برگزاری
                            <strong>جلسات هم‌افزایی</strong>
                            برای ارتقای دانش تخصصی اعضای واحد و آشنایی بیشتر با
                            <strong>Best Practiceها</strong>
                            و
                            <strong>تکنولوژی روز دنیا</strong>
                        </li>
                        <li>
                            برگزاری جلسات فنی مانند
                            <strong>Tip of The Day</strong>
                        </li>
                        <li>
                            برگزاری
                            <strong>جلسات کتاب‌خوانی</strong>
                            در حوزه‌های فنی و غیرفنی
                        </li>
                        <li>
                            جمع‌آوری انتقادات و پیشنهادات اعضای واحد و
                            <strong>انتقال به سطوح بالاتر مدیریتی</strong>
                        </li>
                    </ul>
                </div>
            </div>
            <ul class="tags">
                <li><Image src={jiraIcon} alt="Jira" /></li>
                <li><Image src={confluenceIcon} alt="Confluence" /></li>
                <li><Image src={cSharpIcon} alt="C#" /></li>
                <li><Image src={postgresqlIcon} alt="PostgreSQL" /></li>
                <li><Image src={mapboxIcon} alt="Mapbox" /></li>
            </ul>
        </li>
        <li>
            <div class="info">
                <div class="logo">
                    <Image src={mohaymenLogo} alt="" />
                </div>
                <div class="header">
                    <div class="duration">مهر 1399 تا شهریور 1401</div>
                    <div class="title">مهندس نرم‌افزار</div>
                    <div class="corporate">شرکت فناوری اطلاعات و ارتباطات مهیمن</div>
                </div>
                <div class="description">
                    <p>
                        پس از گذراندن 2 ماه کارآموزی و ارائه پروژه پایانی، در مهرماه 1399 وارد شرکت مهیمن شدم. ابتدا
                        به‌عنوان یک کارشناس در حوزه فرانت‌اند مشغول به‌کار شدم اما به‌مرور زمان مسئولیت‌های بیشتری گرفتم
                        و در نهایت در واحد تحلیل داده
                        <strong>Frontend Chapter Lead</strong>
                        شدم.
                    </p>
                    <p>
                        به‌عنوان
                        <strong>توسعه‌دهنده فرانت‌اند</strong>
                        مسئولیت‌های متنوعی بر عهدۀ من بود:
                    </p>
                    <ul>
                        <li>
                            <strong>ارتقای نسخه Angular</strong>
                            از 8 به 14 در پروژه‌ای با ابعاد
                            <strong>چند صدهزار خط کد</strong>
                        </li>
                        <li>
                            <strong>بازنویسی (Refactor)</strong>
                            و
                            <strong>بازطراحی (Redesign)</strong>
                            قسمت اعظمی از سامانه‌ها
                        </li>
                        <li>
                            مهاجرت
                            <strong>ابرکامپوننت Grid با بیش از 2000 خط کد</strong>
                            از jQuery به Angular
                        </li>
                        <li>
                            مهاجرت
                            <strong>بیش از 20 نوع نمودار تحلیل داده تخصصی</strong>
                            از jQuery به Angular
                        </li>
                        <li>
                            طراحی و ساخت
                            <strong>Pipeline اختصاصی</strong>
                            برای جاری‌سازی داده‌ها بین کامپوننت‌های سلسله‌مراتبی
                        </li>
                        <li>
                            <strong>افزایش چندبرابری سرعت سایت</strong>
                            پس از اعمال تکنیک‌های متنوع
                        </li>
                        <li>
                            <strong>کاهش چشم‌گیر حجم پروژه</strong>
                            پس از بازنگری‌های متعدد
                        </li>
                        <li>
                            <strong>حذف کدهای خاص‌منظوره و Dependencyهای غیرضروری</strong>
                            داخلی و خارجی
                        </li>
                        <li>
                            <strong>بررسی اسناد</strong>
                            تهیه‌شده توسط تیم طراحی محصول
                        </li>
                    </ul>
                    <p>
                        به‌عنوان
                        <strong>Chapter Lead</strong>
                        مسئولیت تمام توسعه‌دهندگان و زیرساخت‌های فرانت‌اند برعهدۀ من بود:
                    </p>
                    <ul>
                        <li>
                            <strong>بررسی کد (Code Review)</strong>
                            تمام توسعه‌دهندگان فرانت‌اند و حصول اطمینان از صحت عملکرد و کارایی کدها
                        </li>
                        <li>
                            بازطراحی ساختار
                            <strong>پروژۀ Monorepo</strong>
                            طبق استانداردهای جهانی
                        </li>
                        <li>
                            کمک به تیم DevOps برای
                            <strong>Dockerizeکردن</strong>
                            پروژه
                        </li>
                        <li>
                            بازنویسی و بازطراحی کامل فرآیند
                            <strong>Localization</strong>
                            و
                            <strong>Internationalization</strong>
                        </li>
                        <li>
                            اصلاح کدها و روال‌ها در جهت
                            <strong>پیاده‌سازی نسخه انگلیسی</strong>
                        </li>
                    </ul>
                </div>
            </div>
            <ul class="tags">
                <li><Image src={angularIcon} alt="Angular" /></li>
                <li><Image src={typescriptIcon} alt="TypeScript" /></li>
                <li><Image src={sassIcon} alt="Sass" /></li>
                <li><Image src={antDesignIcon} alt="Ant Design" /></li>
                <li><Image src={highchartsIcon} alt="Highcharts" /></li>
                <li><Image src={gulpIcon} alt="Gulp.js" /></li>
                <li><Image src={azureIcon} alt="Azure" /></li>
            </ul>
        </li>
        <li>
            <div class="info">
                <div class="logo">
                    <Image src={codestarLogo} alt="" />
                </div>
                <div class="header">
                    <div class="duration">دی 1400 تا شهریور 1401</div>
                    <div class="title">مسئول برگزاری کارآموزی کداستار</div>
                    <div class="corporate">شرکت فناوری اطلاعات و ارتباطات مهیمن</div>
                </div>
                <p class="description">
                    تابستان 1399 به‌عنوان کارآموز وارد اولین دورۀ کارآموزی کداستار شدم؛ پس از طی‌کردن دوره و استخدام در
                    شرکت، زمستان 1399 به‌عنوان منتور در برگزاری دوره سهیم بودم. تابستان 1400 به‌عنوان مسئول دورۀ
                    فرانت‌اند و در نهایت تابستان 1401 به‌عنوان مسئول کل دوره حضور داشتم.
                </p>
            </div>
            <ul class="tags">
                <li><Image src={nodeJsIcon} alt="Node.js" /></li>
                <li><Image src={swaggerIcon} alt="Swagger" /></li>
                <li><Image src={docusaurusIcon} alt="Docusaurus" /></li>
                <li><Image src={jwtIcon} alt="JWT" /></li>
                <li><Image src={mysqlIcon} alt="MySQL" /></li>
                <li><Image src={puppeteerIcon} alt="Puppeteer" /></li>
                <li><Image src={cypressIcon} alt="Cypress" /></li>
            </ul>
        </li>
    </ul>
</section>
