---
import {Image} from 'astro:assets';

import mohaymenLogo from '@assets/logos/mohaymen.webp';
import codestarLogo from '@assets/logos/codestar.svg';

import angularIcon from '@assets/brands/angular.svg?raw';
import sassIcon from '@assets/brands/sass.svg?raw';
import antDesignIcon from '@assets/brands/ant-design.svg?raw';
import swaggerIcon from '@assets/brands/swagger.svg?raw';
import typescriptIcon from '@assets/brands/typescript.svg?raw';
import highchartsIcon from '@assets/brands/highcharts.svg?raw';
import docusaurusIcon from '@assets/brands/docusaurus.svg?raw';
import jwtIcon from '@assets/brands/jwt.svg?raw';
import nodeJsIcon from '@assets/brands/node-js.svg?raw';
import cSharpIcon from '@assets/brands/c-sharp.svg?raw';
import postgresqlIcon from '@assets/brands/postgresql.svg?raw';
import mysqlIcon from '@assets/brands/mysql.svg?raw';
import cypressIcon from '@assets/brands/cypress.svg?raw';
import azureIcon from '@assets/brands/azure.svg?raw';
import jiraIcon from '@assets/brands/jira.svg?raw';
import confluenceIcon from '@assets/brands/confluence.svg?raw';
import gulpIcon from '@assets/brands/gulp.svg?raw';
import mapboxIcon from '@assets/brands/mapbox.svg?raw';
import puppeteerIcon from '@assets/brands/puppeteer.svg?raw';
---

<section id="jobs">
    <h2>سوابق شغلی</h2>
    <ul>
        <li>
            <div class="info">
                <div class="logo">
                    <Image src={mohaymenLogo} alt="" />
                </div>
                <div class="header">
                    <div class="duration">مهر 1401 تا فروردین 1402</div>
                    <div class="title">مدیر تیم</div>
                    <div class="corporate">شرکت فناوری اطلاعات و ارتباطات مهیمن</div>
                </div>
                <p class="description">
                    <!-- [BIJAN] TODO: Write a description. -->
                </p>
            </div>
            <ul class="tags">
                <li><Fragment set:html={jiraIcon} title="Jira" /></li>
                <li><Fragment set:html={confluenceIcon} title="Confluence" /></li>
                <li><Fragment set:html={cSharpIcon} title="C#" /></li>
                <li><Fragment set:html={postgresqlIcon} title="PostgreSQL" /></li>
                <li><Fragment set:html={mapboxIcon} title="Mapbox" /></li>
            </ul>
        </li>
        <li>
            <div class="info">
                <div class="logo">
                    <Image src={codestarLogo} alt="" />
                </div>
                <div class="header">
                    <div class="duration">دی 1400 تا شهریور 1401</div>
                    <div class="title">مسئول برگزاری کارآموزی کداستار</div>
                    <div class="corporate">شرکت فناوری اطلاعات و ارتباطات مهیمن</div>
                </div>
                <p class="description">
                    تابستان 1399 به‌عنوان کارآموز وارد اولین دورۀ کارآموزی کداستار شدم؛ پس از طی‌کردن دوره و استخدام در
                    شرکت، زمستان 1399 به‌عنوان منتور در برگزاری دوره سهیم بودم. تابستان 1400 به‌عنوان مسئول دورۀ
                    فرانت‌اند و در نهایت تابستان 1401 به‌عنوان مسئول کل دوره حضور داشتم.
                </p>
            </div>
            <ul class="tags">
                <li><Fragment set:html={nodeJsIcon} title="Node.js" /></li>
                <li><Fragment set:html={swaggerIcon} title="Swagger" /></li>
                <li><Fragment set:html={docusaurusIcon} title="Docusaurus" /></li>
                <li><Fragment set:html={jwtIcon} title="JWT" /></li>
                <li><Fragment set:html={mysqlIcon} title="MySQL" /></li>
                <li><Fragment set:html={puppeteerIcon} title="Puppeteer" /></li>
                <li><Fragment set:html={cypressIcon} title="Cypress" /></li>
            </ul>
        </li>
        <li>
            <div class="info">
                <div class="logo">
                    <Image src={mohaymenLogo} alt="" />
                </div>
                <div class="header">
                    <div class="duration">مهر 1399 تا شهریور 1401</div>
                    <div class="title">مهندس نرم‌افزار</div>
                    <div class="corporate">شرکت فناوری اطلاعات و ارتباطات مهیمن</div>
                </div>
                <p class="description">
                    <!-- [BIJAN] TODO: Write a description. -->
                </p>
            </div>
            <ul class="tags">
                <li><Fragment set:html={angularIcon} title="Angular" /></li>
                <li><Fragment set:html={typescriptIcon} title="TypeScript" /></li>
                <li><Fragment set:html={sassIcon} title="Sass" /></li>
                <li><Fragment set:html={antDesignIcon} title="Ant Design" /></li>
                <li><Fragment set:html={highchartsIcon} title="Highcharts" /></li>
                <li><Fragment set:html={gulpIcon} title="Gulp.js" /></li>
                <li><Fragment set:html={azureIcon} title="Azure" /></li>
            </ul>
        </li>
    </ul>
</section>
