---
import responsibilityIcon from '@assets/icons/responsibility.svg?raw';
import clockIcon from '@assets/icons/clock.svg?raw';
import peopleIcon from '@assets/icons/people.svg?raw';
import successIcon from '@assets/icons/success.svg?raw';
import critiqueIcon from '@assets/icons/critique.svg?raw';
import pencilIcon from '@assets/icons/pencil.svg?raw';
import heartIcon from '@assets/icons/heart.svg?raw';
import happyIcon from '@assets/icons/happy.svg?raw';
import headphonesIcon from '@assets/icons/headphones.svg?raw';
---

<section id="soft-skills">
    <h2>مهارت‌های نرم</h2>
    <ul class="skills">
        <li>
            <div class="icon">
                <Fragment set:html={responsibilityIcon} />
            </div>
            <div class="title">مسئولیت‌پذیری</div>
        </li>
        <li>
            <div class="icon">
                <Fragment set:html={clockIcon} />
            </div>
            <div class="title">نظم و وقت‌شناسی</div>
        </li>
        <li>
            <div class="icon">
                <Fragment set:html={peopleIcon} />
            </div>
            <div class="title">کار تیمی</div>
        </li>
        <li>
            <div class="icon">
                <Fragment set:html={successIcon} />
            </div>
            <div class="title">توانایی حل مسئله</div>
        </li>
        <li>
            <div class="icon">
                <Fragment set:html={critiqueIcon} />
            </div>
            <div class="title">انتقادپذیر</div>
        </li>
        <li>
            <div class="icon">
                <Fragment set:html={pencilIcon} />
            </div>
            <div class="title">یادگیری و تدریس</div>
        </li>
        <li>
            <div class="icon">
                <Fragment set:html={heartIcon} />
            </div>
            <div class="title">همدلی و همیاری</div>
        </li>
        <li>
            <div class="icon">
                <Fragment set:html={happyIcon} />
            </div>
            <div class="title">شوخ‌طبعی</div>
        </li>
        <li>
            <div class="icon">
                <Fragment set:html={headphonesIcon} />
            </div>
            <div class="title">شنوندۀ خوب</div>
        </li>
    </ul>
</section>
