---
import { Image } from "astro:assets";

import codectiveMockup from "@assets/mockups/codective.webp";

import nextJsIcon from "@assets/brands/next-js.svg";
import typescriptIcon from "@assets/brands/typescript.svg";

import externalLinkIcon from "@assets/icons/external-link.svg?raw";
import githubIcon from "@assets/icons/github.svg?raw";
---

<li>
  <div class="mockup">
    <Image src={codectiveMockup} alt="" />
  </div>
  <div class="info">
    <div class="title">
      <a href="https://codective.ir/shahid" target="_blank">
        وب‌سایت codective.ir
        <Fragment set:html={externalLinkIcon} />
      </a>
    </div>
    <p class="description">
      سایت اصلی Codective که برای معرفی دوره‌های آموزشیم توسعه دادم.
      <br />
      برای هر دوره، یه صفحه‌ی اختصاصی در نظر گرفتم که تمام جزئیات مثل معرفی، پیش‌نیازها،
      مباحث و سوالات متداول رو داخلش آوردم.
      <br />
      با توجه به اهمیت SEO، از Next.js برای پیاده‌سازی استفاده کردم.
    </p>
    <ul class="tags">
      <li><Image src={nextJsIcon} alt="Next.js" /></li>
      <li><Image src={typescriptIcon} alt="TypeScript" /></li>
    </ul>
    <ul class="links">
      <li>
        <a
          class="button button--primary"
          href="https://codective.ir/shahid"
          target="_blank"
        >
          مشاهده وب‌سایت
          <Fragment set:html={externalLinkIcon} />
        </a>
      </li>
      <li>
        <a
          class="button button--github"
          href="https://github.com/BijanProgrammerWebsites/codective"
          target="_blank"
        >
          مشاهده کد
          <Fragment set:html={githubIcon} />
        </a>
      </li>
    </ul>
  </div>
</li>
