---
import { Image } from "astro:assets";

import schortMockup from "@assets/mockups/schort.webp";

import sassIcon from "@assets/brands/sass.svg";
import nextJsIcon from "@assets/brands/next-js.svg";
import typescriptIcon from "@assets/brands/typescript.svg";
import postgresqlIcon from "@assets/brands/postgresql.svg";
import prismaIcon from "@assets/brands/prisma.svg";

import externalLinkIcon from "@assets/icons/external-link.svg?raw";
import githubIcon from "@assets/icons/github.svg?raw";
---

<li>
  <div class="mockup">
    <Image src={schortMockup} alt="" />
  </div>
  <div class="info">
    <div class="title">
      <a href="https://schort.ir/" target="_blank">
        وب‌سایت schort.ir
        <Fragment set:html={externalLinkIcon} />
      </a>
    </div>
    <p class="description">
      یک نرم‌افزار تحت وب که با استفاده ازش میتونید لینک‌های خودتون رو کوتاه
      کنید.
      <br />
      لینک‌های کوتاه معمولاً برای انتشار در شبکه‌های اجتماعی کاربرد دارند و همچنین
      به‌خاطرسپردن اون‌ها آسون‌تر هست.
      <br />
      شما می‌تونید به‌عنوان کاربر مهمان از برنامه استفاده کنید؛ اما اگه حساب کاربری
      داشته باشید، می‌تونید لینک‌های تولیدشده‌ی خودتون رو ببینید و اون‌ها رو ویرایش
      یا حذف کنید.
    </p>
    <ul class="tags">
      <li><Image src={nextJsIcon} alt="Next.js" /></li>
      <li><Image src={prismaIcon} alt="Prisma" /></li>
      <li><Image src={postgresqlIcon} alt="PostgreSQL" /></li>
      <li><Image src={typescriptIcon} alt="TypeScript" /></li>
      <li><Image src={sassIcon} alt="Sass" /></li>
    </ul>
    <ul class="links">
      <li>
        <a
          class="button button--primary"
          href="https://schort.ir/"
          target="_blank"
        >
          مشاهده وب‌سایت
          <Fragment set:html={externalLinkIcon} />
        </a>
      </li>
      <li>
        <a
          class="button button--github"
          href="https://github.com/BijanProgrammerWebsites/projects-schort/"
          target="_blank"
        >
          مشاهده کد
          <Fragment set:html={githubIcon} />
        </a>
      </li>
    </ul>
  </div>
</li>
